/* Los estilos en estos selectores y tags del documento HTML
son universales o generales para el proyecto BebiDrink */


/* ==========================================
****************** IMPORTS *****************
=============================================*/
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Lora:ital,wght@0,400;0,600;1,400&family=Roboto+Flex:wght@200;400;700&display=swap");
/* Normalizador moderno del document para todos los navegadores */
@import url("./normalize.css");

/* ==========================================
******************VARIABLES *****************
=============================================*/
:root {
    /* Fuentes */
    --fuente-prin: "Lora", serif;
    --fuente-sec: "Josefin Sans", sans-serif;
    --fuente-ter: "Roboto Flex", sans-serif;
    /* Colores*/
    --fondo: hsl(29, 100%, 90%) !important;
    --color-prin: #2d0c3f !important;
    --color-sec: lightgray;
    --color-ter: #b491c8;
    --color-acnt: #ff9001;
    --color-txt: #1c0a26;
}

/* ==========================================
*************** DOCUMENT TAGS ***************
=============================================*/
* {
    box-sizing: border-box !important;
    padding-inline-start: 0px;
    text-decoration: none !important;
    color: black;
    scroll-behavior: smooth;
}

body {
    background-color: var(--fondo);
    height: auto;
    overflow-x: hidden !important;
}

ul,
ol {
    list-style: none;
}

h1 {
    color: var(--color-prin);
}

h1,
h2,
h3,
h4,
input,
select,
textarea {
    font-family: var(--fuente-prin);
    color: var(--color-txt);
}


p,
h5,
h6,
li,
tr {
    font-family: var(--fuente-sec);
    color: var(--color-txt);
}


input,
select,
textarea {
    background-color: var(--color-ter) !important;
    border-radius: 5px !important;
    margin-bottom: 20px !important;
}


input,
select {
    width: 240px;
    height: 29px;
    font-size: 16px;
    padding: 10px !important;
    cursor: text !important;
    box-shadow: 0 0 1px 1px #331653ae;
    border: none;
    margin: 0.5%;
}

select {
    height: 40px;
    cursor: pointer !important;
    transition: 0.5s;
}

select option {
    width: 100!important;
    color: var(--color-prin);
    font-size: small;
    transition: 0.5s;
}

label {
    color: var(--color-acnt-);
    font-family: var(--fuente-prin);
    width: 240px;
}


a,
button {
    cursor: pointer !important;
    font-family: var(--fuente-ter);
    margin: 0.5% !important;
    color: black;
    border-radius: 5px !important;
    font-size: small;
}

span {
    background-color: var(--color-acnt);
    color: var(--color-prin);
    border-radius: 5px !important;
}

span:hover {
    box-shadow: 0 0 0 5px var(--color-acnt);
    transition: all ease-in-out 300ms;
}




/* Estilos adicionales para pantallas mayores a 920px */

nav {
    justify-content: center;
    display: inline-block;
    max-width: 100% !important;
    box-shadow: 5px 0 10px 2px rgba(0, 0, 0, 0.522);
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-txt);
    position: fixed;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
}

.nav-logo .logo {
    width: 90px;
    height: 90px;
}

.nav-links {
    width: 45%;
    display: flex;
    justify-content: right;
    align-items: center;
    transition: 0.5s;
}

.links {
    transition: 0.5s;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.links a {
    line-height: 1;
    color: #d1b1ce !important;
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.links a:hover {
    background-color: #d1b1ce48;
    color: var(--color-acnt) !important;
    box-shadow: 0 0.5px 0px var(--color-acnt);
    transition: all 0.5s;
}

/* Estilos para el menú hamburguesa en pantalla móvil */
.hamburger-open .nav-links {
    right: 0;
}

.hamburger-icon {
    display: none;
}

.hamburger-icon i {
    color: var(--color-acnt);
}

/* ==========================================
**************** CONTENEDORES ***************
=============================================*/

.container,
.nav-container,
.footer-container,
.main-container {
    padding: 20px;
    margin: 0;
    width: 100%;
}


.form-container {
    width: 50%;
}

/* card */
.card {
    padding: 5px;
    background-color: #ffffff8f;
    border-radius: 5px !important;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.231);
    width: 100% !important;
    height: 90% !important;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 0 1px 2px var(--color-acnt);
    background-color: white;
    transition: all ease-in-out 300ms;
}

/* ==========================================
****************** FLEXBOX *****************
=============================================*/
.flex {
    display: flex !important;
    justify-content: center !important;
}

/* row nowrap */
.flexrow {
    flex-wrap: nowrap !important;
}

/* row wrap */
.flexrow-wrap {
    flex-wrap: wrap !important;
}

/* row wrap-reverse */
.flexrow-wreverse {
    flex-wrap: wrap-reverse !important;
}

/* column nowrap */
.flexcol {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
}

/* column wrap */
.flexcol-wrap {
    flex-direction: column !important;
    flex-wrap: wrap !important;
}

/* column wrap-reverse */
.flexcol-wreverse {
    flex-direction: column-reverse !important;
    flex-wrap: wrap-reverse !important;
}


/* ==========================================
******************** GRID *******************
=============================================*/

/* NOTA: PARA LOS PUNTOS DE CORTE RESPONSIVE
VER LOS SELECTORES GRID DEL FINAL EN MEDIAQUERIES */

/* Para el contenedor padre */
.grid {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: repeat(12, 1fr) !important;
    grid-gap: 10px !important;
    margin: 0px 0 !important;
    justify-items: center;
    align-items: center;
    align-content: center;
}

/* Para inicializar los contenedores hijos*/
.col {
    grid-column: span 12 / span 12;
    padding: 10px;
}

/* Columnas base fijas (Si no se desea especificar dispositivo)*/
.col-1 {
    grid-column: span 1 / span 1;
}

.col-2 {
    grid-column: span 2 / span 2;
}

.col-3 {
    grid-column: span 3 / span 3;
}

.col-4 {
    grid-column: span 4 / span 4;
}

.col-5 {
    grid-column: span 5 / span 5;
}

.col-6 {
    grid-column: span 6 / span 6;
}

.col-7 {
    grid-column: span 7 / span 7;
}

.col-8 {
    grid-column: span 8 / span 8;
}

.col-9 {
    grid-column: span 9 / span 9;
}

.col-10 {
    grid-column: span 10 / span 10;
}

.col-11 {
    grid-column: span 11 / span 11;
}

.col-12 {
    grid-column: span 12 / span 12;
}





/* ==========================================
****************** POSICIÓN *****************
=============================================*/
/* ELEMENTOS CENTRADOS*/
.center {
    justify-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    text-align: center !important;
}

/* elementos y texto contenido en ellos centrados*/
.center-center {
    justify-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    text-align: center !important;
    align-self: center !important;
    justify-self: center !important;
}

/*  ALINEACIONES DE TEXTO */
.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-justify {
    text-align: justify;
}


/*===================================================
****************** BOTONES ************************
===================================================*/
.btn {
    border: none !important;
    border-radius: 5px !important;
    width: auto;
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--color-acnt) !important;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:focus,
.btn:active {
    /* background-color: #2bbbad; */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12);
    background-color: var(--color-prin) !important;
}


/*===================================================
****************** VALIDACION EDAD ******************
===================================================*/
/* MODAL VALIDACIÓN DE MAYORÍA DE EDAD */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(79, 37, 13, 0.848);
    backdrop-filter: blur(5px);
}

.modal-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fefefe89;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 100px 1px rgba(0, 0, 0, 0.375);
    width: 70%;
    max-width: 400px;
}

.modal--title {
    text-transform: uppercase;
    text-align: center;
}

.modal--input {
    width: 100%;
    height: 35px;
    border: none;
    background-color: rgb(235, 217, 184);
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.modal--button {
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(3, 2, 0);
    color: white;
    margin-top: 5px;
}

.modal--button:hover {
    background-color: rgba(0, 0, 0, 0.561);
    cursor: pointer;
}

.alerta-m-container {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.557);
}

.alerta-m-image {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/playa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 150%;
    text-align: center;
}

/*===================================================
****************** SLIDE NOSOTROS ******************
===================================================*/
.slider-section {
    width: 100%;
}

.slider-section>h3 {
    width: 50%;
}

.slider-section>h3>p {
    color: var(--color-prin);
    letter-spacing: -1px;
    font-style: italic;
    font-size: 3rem;
}

.slider {
    object-fit: cover;
    width: 50%;
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.529);
}

.catalogo {
    background: antiquewhite !important;
}

.cabTabla {
    width: 100%;
    background-color: var(--color-prin);
    padding: 20px;
    color: white;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s;
}



.cabTabla h3 {
    color: white;
    font-family: var(--fuente-prin);
}

.cabTabla i {
    color: var(--color-acnt);
    transition: 0.5s;
}

.cabTabla div {
    transition: 0.5s;
    margin-left: 20px;
}



/*===================================================
****************** TABLA DEL CATALOGO ******************
===================================================*/

table {
    width: 500px;
    transition: 0.5s;
}


table,
th,
td {
    border-collapse: collapse;
    transition: 0.5s;
}



th {
    text-transform: uppercase;
    padding: 10px 0px;
    background-color: var(--color-acnt);
    transition: 0.5s;

}



table td,
table th {
    border: 1px solid #44245942;
    padding: 8px;
    transition: 0.5s;
}

table tr:nth-child(even) {
    background-color: var(--fondo);
}

table tr:hover {
    background-color: var(--color-acnt);
    transition: 0.3s;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--color-txt);
    color: white;
    transition: 0.5s;
}


/*===================================================
****************** FOOTER******************
===================================================*/

footer {
    background-color: var(--color-acnt);
    padding: 20px;
}

/*   .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */

.footer-credits {
    text-align: center;
    font-size: 13px;
}

.repo {
    font-size: 25px;
}

.repo i:hover {
    box-shadow: 0 0 0 10px var(--color-prin);
    background-color: var(--color-txt);
    border-radius: 100%;
    color: var(--color-acnt);
    transition: 0.3s;
}

.social-media-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.social-media-list li {
    margin: 0 10px;
}

.smicon {
    font-size: 30px;
    color: var(--color-txt);
}

.smicon:hover {
    transform: rotate(10deg);
    transition: 0.5s;
}



.contact {
    /* Estilos para el enlace de contacto */
}

.footer-btn {
    background-color: var(--color-prin) !important;
}

.footer-btn:hover {
    background-color: var(--color-txt) !important;
}

.ubication {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.ubication .direction {
    width: 80%;
    text-align: center;

}

.ubication iframe {
    border-radius: 15px;
}

.powered {
    max-width: 100%;
}
.powered p{
    margin: 5px;
}



/*===================================================
**************************************************
******************* MEDIA QUERIES *****************
**************************************************
===================================================*/
@media only screen and (max-width: 412px){
    
    #buscar {
        margin-top: 10px !important;
    }
}


/* TAMAÑOS GRID COLUMNS RESPONSIVE (COLUMNAS PARA ABARCAR) */
/* Dispositivos de hasta de 600px (mobiles y tablets) */
@media only screen and (max-width: 601px) {

    .slider {
        width: 100%;
    }

    .slider-section>h3 {
        width: 100%;
    }

    .slider-section>h3>p {
        font-size: 1.2rem;
    }

    .s-1 {
        grid-column: span 1 / span 1;
    }

    .s-2 {
        grid-column: span 2 / span 2;
    }

    .s-3 {
        grid-column: span 3 / span 3;
    }

    .s-4 {
        grid-column: span 4 / span 4;
    }

    .s-5 {
        grid-column: span 5 / span 5;
    }

    .s-6 {
        grid-column: span 6 / span 6;
    }

    .s-7 {
        grid-column: span 7 / span 7;
    }

    .s-8 {
        grid-column: span 8 / span 8;
    }

    .s-9 {
        grid-column: span 9 / span 9;
    }

    .s-10 {
        grid-column: span 10 / span 10;
    }

    .s-11 {
        grid-column: span 11 / span 11;
    }

    .s-12 {
        grid-column: span 12 / span 12;
    }
}

/* Dispositivos de mas de 600px (Tablets y otros) */
@media only screen and (min-width: 600px) {

    .slider {
        width: 100%;
    }

    .slider-section>h3 {
        width: 100%;
    }

    .slider-section>h3>p {
        font-size: 2rem;
    }

    .m-1 {
        grid-column: span 1 / span 1;
    }

    .m-2 {
        grid-column: span 2 / span 2;
    }

    .m-3 {
        grid-column: span 3 / span 3;
    }

    .m-4 {
        grid-column: span 4 / span 4;
    }

    .m-5 {
        grid-column: span 5 / span 5;
    }

    .m-6 {
        grid-column: span 6 / span 6;
    }

    .m-7 {
        grid-column: span 7 / span 7;
    }

    .m-8 {
        grid-column: span 8 / span 8;
    }

    .m-9 {
        grid-column: span 9 / span 9;
    }

    .m-10 {
        grid-column: span 10 / span 10;
    }

    .m-11 {
        grid-column: span 11 / span 11;
    }

    .m-12 {
        grid-column: span 12 / span 12;
    }

}

/* Dispositivos de mas de 900px (Desktops y +) */
@media only screen and (min-width: 900px) {
    .slider {
        width: 50%;
    }

    .slider-section>h3 {
        width: 50%;
    }

    .slider-section>h3>p {
        font-size: 2.3rem;
    }

    .l-1 {
        grid-column: span 1 / span 1;
    }

    .l-2 {
        grid-column: span 2 / span 2;
    }

    .l-3 {
        grid-column: span 3 / span 3;
    }

    .l-4 {
        grid-column: span 4 / span 4;
    }

    .l-5 {
        grid-column: span 5 / span 5;
    }

    .l-6 {
        grid-column: span 6 / span 6;
    }

    .l-7 {
        grid-column: span 7 / span 7;
    }

    .l-8 {
        grid-column: span 8 / span 8;
    }

    .l-9 {
        grid-column: span 9 / span 9;
    }

    .l-10 {
        grid-column: span 10 / span 10;
    }

    .l-11 {
        grid-column: span 11 / span 11;
    }

    .l-12 {
        grid-column: span 12 / span 12;
    }
}

@media (max-width: 920px) {
    .nav {
        flex-direction: column;
        
    }

    .nav-logo {
        margin-bottom: 20px;
        z-index: 99999;
    }

    .hamburger-icon {
        position: absolute;
        background-color: var(--color-prin);
        border-radius: 5px;
        top: 50px;
        right: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .hamburger-icon i {
        color: var(--color-acnt);
        padding: 5px;
        border-radius: 5px;
        font-size: 24px;
        position: fixed;
        z-index: 99999;
    }

    .hamburger-icon:hover,
    .hamburger-icon i:hover {
        background-color: var(--color-prin);
        color: var(--color-acnt);
    }

    .hamburger-icon:focus {
        color: var(--color-acnt);
    }

    .nav-links {
        position: fixed;
        top: 0;
        width: 80%;
        right: -100%;
        height: 100%;
        background-color: var(--color-txt);
        z-index: 9999;
        transition: 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        box-shadow: inset 1px 0 5px 0px #2d0c3f;
    }

    .nav-links.open {
        right: 0;
    }

    .links {
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 550px;
        text-align: center;
    }

    .links li {
        margin: 10px 0;
        display: flex;
        width: 100%;
        border-bottom: 3px solid rgba(255, 255, 255, 0.085);
    }

    .links a {
        display: block;
        width: 100%;
        line-height: 100%;
        margin: 10px 0;
        font-size: 18px;
        color: #d1b1ce !important;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 0px;
        transition: all 0.5s;
    }

    .links a:hover {
        background-color: #d1b1ce48;
        color: var(--color-acnt) !important;
        box-shadow: 0 0.5px 0px var(--color-acnt);
        transition: all 0.5s;
    }
}