/* Este archivo contiene los estilos particulares
de cada página del proyecto. No tiene elementos generales, 
ni tampoco animaciones. */

/*===================================================
**************************************************
******************* INDEX ************************
***************************************************
===================================================*/
.header {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.header-title {
    font-size: 5rem;
    color: white;
    letter-spacing: -8px;
}



/*===================================================
****************************************************
******************* PRODUCTOS **********************
****************************************************
===================================================*/

/* ex .productos ==> .img-productos*/
.img-productos {
    object-fit: cover; 
    padding: 5%;
    margin: 5%;
    width: 80%;
    height: 80%;
}


/* .img-productos {
    object-fit: cover; 
    width: 100px; 
    height: 180px;
}  */


.divProductos {
    padding: 5%;
    margin: 5%;
    border: transparent;
    border-color: grey;
    box-shadow: 0px 0px 30px grey;
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

.divProductos:hover {
    box-shadow: 0px 0px 30px gold;
}

/* ex .container ==> #productos: container generaba conflictos, ya que 
el script iba a insertar imágenes en cualquier etiqueta
con la clase container*/
#productos {
    display: grid;
    gap: 30px;
    text-align: center;
    padding: 10%;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    width: 900px;
    height: 900px;
}


/*===================================================
****************************************************
**************** RECETAS TRAGOS ********************
****************************************************
===================================================*/

.ingredientes h3,
.instrucciones h3 {
    text-align: center;
}

.ingredientes > ul {
    padding: 10px;
}

.ingredients-items{
    font-size: small;
    padding: 5px;
    margin: 0.5%;
    border-radius: 5px;
    background-color: black;
    color: white;

}

.trago-img {
    max-width: 90%;
}

.trago-titulo {
    font-size: 2.5rem;
    margin: 1%;
    color: #41295a;
}

.no-encontrado {
    width: 50%;
}

.trago-card {
    padding: 5px 10px;
    background-color: #ffffff8f;
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.529);
    max-width: 98% !important;
    height: 90% !important;
}


.bkg-card {
    background-color: rgb(206, 173, 197);
    background-image: url("../images/bar2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: conver;
    background-blend-mode: overlay;
    background-attachment: fixed;
}

.h {
    margin: 0;
    padding: 0;
}

.hgroup {
    padding: 2%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.109);
    border-radius: 10px;
}

.header-title {
    text-shadow: 0 0 5px #814073;

}

.header-subtitle {
    color: #2a0551;
}

/*===================================================
****************************************************
**************** FORMULARIO ********************
****************************************************
===================================================*/

/*===================================================
****************************************************
**************** VALIDACIÓN ********************
****************************************************
===================================================*/