/* Este archivo contiene los estilos particulares
de cada página del proyecto. No tiene elementos generales, 
ni tampoco animaciones. */

:root {
    /* Colores*/
    --fondo: hsl(29, 100%, 90%) !important;
    --color-prin: rgb(45, 12, 63) !important;
    --color-sec: lightgray;
    --color-ter: #e1dddd;
    --color-acnt: rgb(255, 145, 0);
    --color-txt: #1c0a26 ;
}

footer {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.841);
}

nav {
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.537);
    z-index: 999999;
}



/*===================================================
**************************************************
******************* PÁGINA INDEX *****************
**************************************************
===================================================*/




.header {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.434);
}

.header-title {
    font-size: 5rem;
    color: white;
    letter-spacing: -8px;
}


.h {
    margin: 0;
    padding: 0;
}

.hgroup {
    padding: 2%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.109);
    border-radius: 10px;
}

.header-title {
    text-shadow: 0 0 5px #814073;
}

.header-subtitle {
    color: #2a0551;
}

.card-description {
    padding: 5px;
    background-color: var(--color-prin);
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.529);
    width: 100% !important;
    height: 90% !important;
}

.card-description > h4,
.card-description > i,
.card-description > p {
    color: white !important;
    font-weight: 100;
}

/*===================================================
****************************************************
***************** PÁGINA PRODUCTOS *****************
****************************************************
===================================================*/

/* ex .productos ==> .img-productos*/


.img-productos {
    object-fit: cover; 
    max-width: 200px;
    height: 200px ;
} 
 #productos > div > p{
    font-size: 0.8rem;
    color: var(--color-prin) !important;
    text-transform: uppercase;

 }

/* ex .container ==> #productos: container generaba conflictos, ya que 
el script iba a insertar imágenes en cualquier etiqueta
con la clase container*/


/*===================================================
****************************************************
**************** PÁGINA TRAGOS *********************
****************************************************
===================================================*/

.header-receta {
    height: auto;
    width: 100%;
}

.titulo-recetas {
    color: var(--color-prin);
    font-size: 2rem;
}


.recetas-hero {
    width: 50%;
    height: 50px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.recetas-hero-text {
    color: var(--color-txt);
    font-size: xx-large;
}

.ingredientes h3,
.instrucciones h3 {
    text-align: center;
}

.ingredientes > ul {
    padding: 10px;
}

.ingredients-items{
    font-size: small;
    padding: 5px;
    margin: 0.5%;
    border-radius: 5px;
    background-color: var(--color-prin);
    color: white;
}

.ingredients-title,
.instructions-title {
    color: var(--color-acnt);
}

.instructions-text {
    color: var(--color-prin);
}

.trago-img {
    max-width: 90%;
}

.trago-titulo {
    font-size: 2.5rem;
    margin: 1%;
    color: var(--color-prin);
}

.no-encontrado {
    width: 50%;
}

.trago-card {
    padding: 5px 10px;
    background-color: #ffffffc9;
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.529);
    max-width: 98% !important;
    height: 90% !important;
}


.bkg-card {


    background-position: center center;
    background-repeat: no-repeat;
    background-size: conver;
    background-blend-mode: overlay;
    background-attachment: fixed;
}

.recipes-main,
.contact-main {
    min-height: 120vh;
}

.consulta {
    margin-bottom: 4px !important;
}

/*===================================================
****************************************************
**************** PÁGINA FORMULARIO *****************
****************************************************
===================================================*/
.alert-name {
    margin-top: 40px;
    width: 70%;
    background-color: rgba(92, 21, 122, 0.142) !important;
    transition: 0.5;
}

.alert-name h5 {
    color: var(--color-prin);
}

.message {
    width:250px !important;
    height: 250px;
}

.smform {
    background-color: #ff9001;
    color: var(--color-prin);
    padding: 8px;
    border-radius: 100%;
    transition: 0.3s;
}

.smform:hover {
    box-shadow:0 0 0 5px var(--color-acnt);
    transition: 0.3s;
}

/*===================================================
****************************************************
**************** PÁGINA VALIDACIÓN *****************
****************************************************
===================================================*/
.body-validation {
    margin:0 ;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.body-validation h1, h2, h3, h4, h5, h6 {
    color: var(--color-prin);
}

.validation-icon {
    font-size: 80px;
    color: var(--color-acnt);
}
